user=adiwg
project=mdTranslator
token=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
since-tag=v2.14.0
issue-line-labels=ALL
add-sections={"translators":{"prefix":"**Reader/Writer Labels:**","labels":["writer:mdJson", "writer:sbJson", "writer:fgdc", "reader:fgdc", "reader:csdgm", "writer:csdgm"]}}
author=false